<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sale.phonesale.dao.phonetype.PhoneBrandDAO">

    <select id="getBrandTotal" parameterType="com.sale.phonesale.condition.phonetype.PhoneBrandCondition" resultType="int">
        select count(1) from tb_phone_brand
    </select>

    <select id="findAll" parameterType="com.sale.phonesale.condition.phonetype.PhoneBrandCondition" resultType="com.sale.phonesale.pojo.PhoneBrand">
      SELECT brandId, brandName,popularity
		FROM  tb_phone_brand where 1 = 1
		<if test="brandIdCondition != 0">
            and brandId = #{brandIdCondition}
        </if>
        <if test="brandNameCondition != '' and brandNameCondition != null">
            and brandName like concat('%',#{brandNameCondition}, '%')
        </if>
	</select>


    <update id="editbrand" parameterType="com.sale.phonesale.pojo.PhoneBrand">
        update tb_phone_brand set brandName = #{brandName}, popularity = #{popularity}
                where brandId = #{brandId}
    </update>

    <insert id="addBrand" parameterType="com.sale.phonesale.pojo.PhoneBrand" useGeneratedKeys="true" keyProperty="brandId">
        insert into tb_phone_brand(brandName,popularity)
                      values(#{brandName},#{popularity})
    </insert>

    <delete id="deleteBrand" parameterType="int">
        delete from tb_phone_brand where brandId = #{brandId}
    </delete>
</mapper>
