<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sale.phonesale.dao.phonetype.PhoneTypeDAO">
    
    <select id="getTotal" parameterType="com.sale.phonesale.condition.phonetype.PhoneTypeCondition" resultType="int">
        select count(1) from tb_phone_type where 1 = 1
        <if test="modelNameCondition != '' and modelNameCondition != null">
            and modelName like concat('%', #{modelNameCondition} , '%')
        </if>
        <if test="brandIdCondition != 0">
            and brandId = #{brandIdCondition}
        </if>
        <if test="publishTimeStartCondition != null">
            and date(publishTime) >= date(#{publishTimeStartCondition})
        </if>
        <if test="publishTimeEndCondition">
            date(#{publishTimeEndCondition}) >= date(publishTime)
        </if>
    </select>

    <select id="getItems" resultType="com.sale.phonesale.pojo.PhoneType">
        select modelId, modelName, brandId, popularity, upRatio, downRatio, publishTime
              from tb_phone_type
              where 1 = 1
            <if test="condition.modelNameCondition != '' and condition.modelNameCondition != null">
                and modelName like concat('%', #{condition.modelNameCondition} , '%')
            </if>
            <if test="condition.brandIdCondition != 0">
                and brandId = #{condition.brandIdCondition}
            </if>
            <if test="condition.publishTimeStartCondition != null">
                and date(publishTime) >= date(#{condition.publishTimeStartCondition})
            </if>
            <if test="condition.publishTimeEndCondition">
                date(#{condition.publishTimeEndCondition}) >= date(publishTime)
            </if>
            order by publishTime desc
            limit #{start}, #{rows}
    </select>

    <update id="edit" parameterType="com.sale.phonesale.pojo.PhoneType">
        update tb_phone_type set modelName = #{modelName}, brandId = #{brandId},
                                popularity = #{popularity}, upRatio = #{upRatio},
                                downRatio = #{downRatio},publishTime = #{publishTime}
                            where modelId = #{modelId}
    </update>

    <insert id="add" parameterType="com.sale.phonesale.pojo.PhoneType" useGeneratedKeys="true" keyProperty="modelId">
        insert into tb_phone_type(modelName, brandId, popularity, upRatio, downRatio, publishTime)
                      values(#{modelName}, #{brandId}, #{popularity}, #{upRatio}, #{downRatio}, #{publishTime})
    </insert>
    
    <delete id="delete" parameterType="int">
        delete from tb_phone_type where modelId = #{modelId}
    </delete>
</mapper>
